## **Yesterday, we learnt a little about the very useful library Pandas widely used for Data Analysis. It is time to put the many utilities of this library in front of our eyes. We will be performing following manipulations and exploration of our data:**

* ### Indexing and slicing operations
* ### Manipulating columns
* ### Exploring unique and missing values

In [ ]:
# Import pandas package
import pandas as pd
import numpy as np

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

## Let us read our data first

In [ ]:
# loading csv File
# file_path = '/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/Week 3/Day 3/imdb_data.csv'

file_path = '/content/imdb_data.csv'
df = pd.read_csv(file_path)

In [ ]:
# Let's create random data to practice
df_dummy = pd.DataFrame(np.random.randint(1, 1000, (20,5)),
                  columns = ['A', 'B', 'C', 'D', 'E'])

temp_list  =  ['Cat A', 'Cat B', 'Cat C', 'Cat D']*5
df_dummy['Category'] = temp_list
df_dummy.head()

     A    B    C    D    E Category
0  307  199  274  512  547    Cat A
1  716  951  862  328  485    Cat B
2  255  397   97  884  659    Cat C
3  719  398  794  823   52    Cat D
4  786  317  675  739  850    Cat A

In [ ]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
df.head().T

,0,1,2,3,4
id,1,2,3,4,5
belongs_to_collection,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...","[{'id': 107674, 'name': 'The Princess Diaries ...",NaN,NaN,NaN
budget,14000000,40000000,3300000,1200000,0
genres,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 18, 'name': 'Drama'}]","[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
homepage,NaN,NaN,http://sonyclassics.com/whiplash/,http://kahaanithefilm.com/,NaN
imdb_id,tt2637294,tt0368933,tt2582802,tt1821480,tt1380152
original_language,en,en,en,hi,ko
original_title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,마린보이
overview,"When Lou, who has become the ""father of the In...",Mia Thermopolis is now a college graduate and ...,"Under the direction of a ruthless instructor, ...",Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,Marine Boy is the story of a former national s...
popularity,6.575393,8.248895,64.29999,3.174936,1.14807
poster_path,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg
production_companies,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Bold Films', 'id': 2266}, {'name': ...",NaN,NaN
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'iso_3166_1': 'KR', 'name': 'South Korea'}]"
release_date,2/20/15,8/6/04,10/10/14,3/9/12,2/5/09
runtime,93.0,113.0,105.0,122.0,118.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]"
status,Released,Released,Released,Released,Released
tagline,The Laws of Space and Time are About to be Vio...,It can take a lifetime to find true love; she'...,The road to greatness can take you to the edge.,NaN,NaN
title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,Marine Boy
Keywords,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...",NaN
cast,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'cast_id': 3, 'character': 'Chun-soo', 'cred..."
crew,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...","[{'credit_id': '52fe464b9251416c75073b43', 'de..."
revenue,12314651,95149435,13092000,16000000,3923970

In [ ]:
df.tail()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [ ]:
# Let's have a water break | Let's meet at 9:02 PM

# <u>**<code>describe()</code>**</u>

### This method gives the overall descriptive summary of the dataframe. By default This works only for numerical columns

In [ ]:
df_dummy.describe().round(2)

            A       B       C       D       E
count  100.00  100.00  100.00  100.00  100.00
mean   479.51  541.15  466.25  462.82  500.90
std    282.75  267.20  272.00  278.28  294.23
min     17.00    2.00    2.00    2.00   11.00
25%    221.00  319.50  233.00  238.75  235.50
50%    491.00  573.50  476.00  467.00  508.50
75%    701.25  751.50  667.00  667.75  759.50
max    976.00  996.00  992.00  999.00  994.00

In [ ]:
df_dummy.describe().round(2).T

   count    mean     std   min     25%    50%     75%    max
A  100.0  479.51  282.75  17.0  221.00  491.0  701.25  976.0
B  100.0  541.15  267.20   2.0  319.50  573.5  751.50  996.0
C  100.0  466.25  272.00   2.0  233.00  476.0  667.00  992.0
D  100.0  462.82  278.28   2.0  238.75  467.0  667.75  999.0
E  100.0  500.90  294.23  11.0  235.50  508.5  759.50  994.0

In [ ]:
df_dummy.describe?

In [ ]:
df_dummy.describe(include = ['object']).T

         count unique    top freq
Category   100      4  Cat A   25

In [ ]:
df_dummy.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
A,100.0,NaN,NaN,NaN,479.51,282.751291,17.0,221.0,491.0,701.25,976.0
B,100.0,NaN,NaN,NaN,541.15,267.197743,2.0,319.5,573.5,751.5,996.0
C,100.0,NaN,NaN,NaN,466.25,271.996635,2.0,233.0,476.0,667.0,992.0
D,100.0,NaN,NaN,NaN,462.82,278.277435,2.0,238.75,467.0,667.75,999.0
E,100.0,NaN,NaN,NaN,500.9,294.23012,11.0,235.5,508.5,759.5,994.0
Category,100,4,Cat A,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# imdb_df
df.describe().astype(int)

         id     budget  popularity  runtime     revenue
count  3000       3000        3000     2998        3000
mean   1500   22531334           8      107    66725851
std     866   37026086          12       22   137532326
min       1          0           0        0           1
25%     750          0           4       94     2379808
50%    1500    8000000           7      104    16807068
75%    2250   29000000          10      118    68919203
max    3000  380000000         294      338  1519557910

In [ ]:
df.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
id,3000.0,1500.50,8.661700e+02,1.0,750.75,1500.50,2250.25,3.000000e+03
budget,3000.0,22531334.11,3.702609e+07,0.0,0.00,8000000.00,29000000.00,3.800000e+08
popularity,3000.0,8.46,1.210000e+01,0.0,4.02,7.37,10.89,2.943400e+02
runtime,2998.0,107.86,2.209000e+01,0.0,94.00,104.00,118.00,3.380000e+02
revenue,3000.0,66725851.89,1.375323e+08,1.0,2379808.25,16807068.00,68919203.50,1.519558e+09

In [ ]:
df.describe().round(2)

            id        budget  popularity  runtime       revenue
count  3000.00  3.000000e+03     3000.00  2998.00  3.000000e+03
mean   1500.50  2.253133e+07        8.46   107.86  6.672585e+07
std     866.17  3.702609e+07       12.10    22.09  1.375323e+08
min       1.00  0.000000e+00        0.00     0.00  1.000000e+00
25%     750.75  0.000000e+00        4.02    94.00  2.379808e+06
50%    1500.50  8.000000e+06        7.37   104.00  1.680707e+07
75%    2250.25  2.900000e+07       10.89   118.00  6.891920e+07
max    3000.00  3.800000e+08      294.34   338.00  1.519558e+09

In [ ]:
df.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
id,3000.0,1500.50,8.661700e+02,1.0,750.75,1500.50,2250.25,3.000000e+03
budget,3000.0,22531334.11,3.702609e+07,0.0,0.00,8000000.00,29000000.00,3.800000e+08
popularity,3000.0,8.46,1.210000e+01,0.0,4.02,7.37,10.89,2.943400e+02
runtime,2998.0,107.86,2.209000e+01,0.0,94.00,104.00,118.00,3.380000e+02
revenue,3000.0,66725851.89,1.375323e+08,1.0,2379808.25,16807068.00,68919203.50,1.519558e+09

In [ ]:
# Include all columns
df.describe(include = 'all').round(2).T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,3000.0,NaN,NaN,NaN,1500.5,866.17,1.0,750.75,1500.5,2250.25,3000.0
belongs_to_collection,604,422,"[{'id': 645, 'name': 'James Bond Collection', ...",16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,3000.0,NaN,NaN,NaN,22531334.11,37026086.41,0.0,0.0,8000000.0,29000000.0,380000000.0
genres,2993,872,"[{'id': 18, 'name': 'Drama'}]",266,NaN,NaN,NaN,NaN,NaN,NaN,NaN
homepage,946,941,http://www.transformersmovie.com/,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imdb_id,3000,3000,tt2637294,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_language,3000,36,en,2575,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_title,3000,2975,Joshua,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
overview,2992,2992,"When Lou, who has become the ""father of the In...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
popularity,3000.0,NaN,NaN,NaN,8.46,12.1,0.0,4.02,7.37,10.89,294.34
poster_path,2999,2999,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
production_companies,2844,2383,"[{'name': 'Paramount Pictures', 'id': 4}]",51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
production_countries,2945,321,"[{'iso_3166_1': 'US', 'name': 'United States o...",1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_date,3000,2398,9/10/10,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
runtime,2998.0,NaN,NaN,NaN,107.86,22.09,0.0,94.0,104.0,118.0,338.0
spoken_languages,2980,401,"[{'iso_639_1': 'en', 'name': 'English'}]",1817,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,3000,2,Released,2996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tagline,2403,2400,Based on a true story.,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,3000,2969,The Magnificent Seven,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Keywords,2724,2648,"[{'id': 10183, 'name': 'independent film'}]",27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cast,2987,2975,[],13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
crew,2984,2984,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
revenue,3000.0,NaN,NaN,NaN,66725851.89,137532326.34,1.0,2379808.25,16807068.0,68919203.5,1519557910.0

# <u>**Indexing and Slicing**</u>

In [ ]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
np.random.randint(5, 30, (2,2))

array([[11, 11],
       [20, 19]])

In [ ]:
data = pd.DataFrame(np.random.randint(5, 30, (30,5)),
                    columns = ['Column1', 'Column2', 'Column3', 'Column4', 'Column5'])

data.head()

   Column1  Column2  Column3  Column4  Column5
0        7       14        7        7       16
1       18        7       13       10       21
2       20       16       28       23       28
3       15       19        7       22       20
4        5       21       12       10        8

## **<code>iloc</code>** gets rows (or columns) at particular positions in the index (so it only takes integers).

In [ ]:
# Let us get a subset which consists of first 8 rows and first 4 columns
data.iloc[:8 , :4]

   Column1  Column2  Column3  Column4
0        7       14        7        7
1       18        7       13       10
2       20       16       28       23
3       15       19        7       22
4        5       21       12       10
5       19       13       19       25
6       25       23        6        8
7       14       16       22       24

In [ ]:
# Let us get a subset which consists of rows b/w 21-29 and columns b/w 3-5
data.iloc[21:30, 3:5]

    Column4  Column5
21       14       11
22       29       28
23        9       10
24       18        7
25       10        9
26       29       29
27       13        7
28        5       12
29       29       28

## **<code>loc</code>** gets rows (or columns) with particular labels from the index.

In [ ]:
data.columns

Index(['Column1', 'Column2', 'Column3', 'Column4', 'Column5'], dtype='object')

In [ ]:
data.index

RangeIndex(start=0, stop=30, step=1)

In [ ]:
# Now let us subset our dataframe in which we want to have
# first 8 rows identified with their rows labels and some named columns
data.loc[:8, ['Column2', 'Column4']]

   Column2  Column4
0       14        7
1        7       10
2       16       23
3       19       22
4       21       10
5       13       25
6       23        8
7       16       24
8       14       16

In [ ]:
# Now let us subset our dataframe in which we want to have
df.loc[50:60, ['budget','genres','runtime']]

NameError: ignored

In [ ]:
df.loc[ : , ['budget','genres']]

NameError: ignored

In [ ]:
df[0:10]

NameError: ignored

In [ ]:
df[['title', 'genres']]

NameError: ignored

In [ ]:
df['title']

In [ ]:
data.head()

   Column1  Column2  Column3  Column4  Column5
0        7       14        7        7       16
1       18        7       13       10       21
2       20       16       28       23       28
3       15       19        7       22       20
4        5       21       12       10        8

In [ ]:
data[['Column4', 'Column2']].head()

   Column4  Column2
0        7       14
1       10        7
2       23       16
3       22       19
4       10       21

In [ ]:
df.columns

NameError: ignored

## <b>In fact we can also perform boolean indexing on our dataframe</b>

In [ ]:
data [ data['Column2']>25 ]

    Column1  Column2  Column3  Column4  Column5
9        18       28       27       18        6
11       25       28       17       20       26
12       24       26       26       29       16
14       12       28        7       17        7
23       21       29       28       17       24

In [ ]:
df['original_language']

0       en
1       en
2       en
3       hi
4       ko
        ..
2995    en
2996    sv
2997    en
2998    en
2999    en
Name: original_language, Length: 3000, dtype: object

In [ ]:
df['original_language'] == 'en'

0        True
1        True
2        True
3       False
4       False
        ...
2995     True
2996    False
2997     True
2998     True
2999     True
Name: original_language, Length: 3000, dtype: bool

In [ ]:
df[ df['original_language'] == 'en' ]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
5,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,tt0093743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,...,8/6/87,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638
6,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,tt0431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,...,8/30/12,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,2995,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,9/18/92,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
data [ (data['Column3'] <= 5) ]

Empty DataFrame
Columns: [Column1, Column2, Column3, Column4, Column5]
Index: []

In [ ]:
data [ (data['Column2']>=20) & (data['Column4']<10) ]

    Column1  Column2  Column3  Column4  Column5
26        7       24       21        7       13
29       28       20        7        5        5

In [ ]:
data [ (data['Column2']>=20) | (data['Column4']<10) ]

    Column1  Column2  Column3  Column4  Column5
0        19        8       28        5       21
1        13       15       23        5        6
3        20       15       20        8       16
4        18       16       15        9       27
7        25       22       14       10       22
9        18       28       27       18        6
10       12       25       29       14       17
11       25       28       17       20       26
12       24       26       26       29       16
14       12       28        7       17        7
15        6       25        6       24       16
16       20       25       25       10       14
17       12       20       22       19        8
21       19       25        7       14       23
22        5       22       15       12       21
23       21       29       28       17       24
26        7       24       21        7       13
27        5       24       16       24       17
28       24       25        8       28       22
29       28       20        7        5        5

In [ ]:
# x = 20
# y = 30

# x>10 | y<20

In [ ]:
data [ (data['Column2']>=20) | (data['Column4']<20) ]

    Column1  Column2  Column3  Column4  Column5
0        12       22       26       21       29
1        22       25       26       15       17
4        16        6       25       12       24
6        20       29       21        5       29
8        17       21       29       15       17
9         6       22        7       10       15
12        7       27        5        5        6
13        9       25       15       19       12
14        9       10       26       17        5
15       20        8       10       11       16
16       16       23       27       19       22
17       15       23       15        6        7
18        7       16       10       18       10
19       26       21        7       28       15
20        5       26       26       13       22
21       20       24       25       15       29
22       24        5       25       17       16
23       19       13       23       13       22
24       23       17        9       14       15
25        5       16       13       13       25
26       13       24        6       22       22
27       27       22       10       14       27
29       26        9       14       11       23

In [ ]:
# Boolean Indexing
english_movies = df[df['original_language'].isin(['ko', 'hi'])]
english_movies.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
102,103,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt1193460,ko,바르게 살자,Jeong Do-man is a low-ranking traffic cop whos...,1.066558,...,8/18/07,102.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Going by the Book,NaN,"[{'cast_id': 2, 'character': 'Jeon Da-hye', 'c...","[{'credit_id': '571be3d9c3a36824a3002319', 'de...",14961069
147,148,NaN,39200000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://snowpiercer-film.com/,tt1706620,ko,Snowpiercer,In a future where a failed global-warming expe...,14.131906,...,8/1/13,126.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"AD 2031, the passengers in the train are the o...",Snowpiercer,"[{'id': 494, 'name': 'father son relationship'...","[{'cast_id': 4, 'character': 'Curtis Everett',...","[{'credit_id': '52fe4ad6c3a36847f81e448d', 'de...",86758912
213,214,NaN,6700000,"[{'id': 28, 'name': 'Action'}]",NaN,tt2077833,hi,राउडी राठौर,Low-life thief Shiva and top-cop Vikram Rathor...,1.312833,...,6/1/12,143.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Rowdy Rathore,"[{'id': 1721, 'name': 'fight'}, {'id': 8015, '...","[{'cast_id': 11, 'character': 'Shiva / Vikram ...","[{'credit_id': '52fe4a0bc3a36847f81b58a9', 'de...",31000000

In [ ]:
# Boolean Indexing
english_movies = df[df['original_language'] == 'en']
english_movies.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
5,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,tt0093743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,...,8/6/87,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638
6,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,tt0431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,...,8/30/12,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075

In [ ]:
english_movies.shape

(2575, 23)

In [ ]:
non_english_movies = df[df['original_language'] != 'en']
non_english_movies.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
15,16,NaN,500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://skinningmovie.com/synopsis.htm,tt1129437,sr,Šišanje,Novica is a mathematics champion in a Belgrade...,1.018477,...,10/6/10,97.0,"[{'iso_639_1': 'sr', 'name': 'Srpski'}]",Released,Life is sometimes rude game: one mistake can b...,Skinning,"[{'id': 379, 'name': 'skinhead'}, {'id': 7492,...","[{'cast_id': 1001, 'character': 'Novica', 'cre...","[{'credit_id': '52fe4927c3a36847f818bb5f', 'de...",198
30,31,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt1675434,fr,Intouchables,A true story of two men who should never have ...,16.086919,...,11/2/11,112.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Sometimes you have to reach into someone else'...,The Intouchables,"[{'id': 3230, 'name': 'male friendship'}, {'id...","[{'cast_id': 6, 'character': 'Philippe', 'cred...","[{'credit_id': '52fe4967c3a368484e129b63', 'de...",426480871
31,32,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",http://www.cache-derfilm.at,tt0387898,fr,Caché,A married couple is terrorized by a series of ...,5.695860,...,5/2/05,117.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Caché,"[{'id': 90, 'name': 'paris'}, {'id': 213, 'nam...","[{'cast_id': 2, 'character': 'Georges Laurent'...","[{'credit_id': '52fe4244c3a36847f8011073', 'de...",36000000

In [ ]:
long_movies = df[df['runtime'] > 120]
long_movies[['title','cast']]

                    title                                               cast
3                 Kahaani  [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
12        American Beauty  [{'cast_id': 6, 'character': 'Lester Burnham',...
14        Minority Report  [{'cast_id': 5, 'character': 'Chief John Ander...
20          Lost in Space  [{'cast_id': 26, 'character': 'Dr. Zachary Smi...
33        ABCs of Death 2  [{'cast_id': 60, 'character': 'Assassin (Segme...
...                   ...                                                ...
2969         Gosford Park  [{'cast_id': 2, 'character': 'Mrs. Wilson', 'c...
2970        The Bodyguard  [{'cast_id': 17, 'character': 'Rachel Marron',...
2980     Action Hero Biju  [{'cast_id': 1, 'character': 'Sub-Inspector Bi...
2992  The Thief of Bagdad  [{'cast_id': 3, 'character': 'The Thief of Bag...
2993         The Terminal  [{'cast_id': 4, 'character': 'Viktor Navorski'...

[657 rows x 2 columns]

## Infact we can match conditions for mutliple columns

In [ ]:
data.columns

Index(['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6'], dtype='object')

In [ ]:
df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue',
       'half_runtime'],
      dtype='object')

In [ ]:
long_movies = df[df['runtime'] > 120]

In [ ]:
long_movies.tail()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2969,2970,NaN,19800000,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0280707,en,Gosford Park,"Multiple storylined drama set in 1932, showing...",14.101101,...,11/7/01,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Tea at four. Dinner at eight. Murder at midnight.,Gosford Park,"[{'id': 964, 'name': 'servant'}, {'id': 10594,...","[{'cast_id': 2, 'character': 'Mrs. Wilson', 'c...","[{'credit_id': '52fe4401c3a36847f807ceab', 'de...",87754044
2970,2971,NaN,25000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,tt0103855,en,The Bodyguard,A former Secret Service agent grudgingly takes...,9.805017,...,11/25/92,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never let her out of your sight. Never let you...,The Bodyguard,"[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 17, 'character': 'Rachel Marron',...","[{'credit_id': '52fe425ec3a36847f8019133', 'de...",411006740
2980,2981,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,0.350207,...,2/4/16,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,"[{'id': 1252, 'name': 'suicide attempt'}, {'id...","[{'cast_id': 1, 'character': 'Sub-Inspector Bi...","[{'credit_id': '56b4d47f92514112b90045f6', 'de...",2500000
2992,2993,NaN,1135654,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0015400,en,The Thief of Bagdad,A recalcitrant thief vies with a duplicitous M...,3.878515,...,3/18/24,149.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,"""Happiness Must Be Earned""",The Thief of Bagdad,"[{'id': 255, 'name': 'male nudity'}, {'id': 14...","[{'cast_id': 3, 'character': 'The Thief of Bag...","[{'credit_id': '52fe45bec3a368484e06c70b', 'de...",1213880
2993,2994,NaN,60000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.theterminal-themovie.com/,tt0362227,en,The Terminal,Viktor Navorski is a man without a country; hi...,14.092373,...,6/17/04,128.0,"[{'iso_639_1': 'bg', 'name': 'български език'}...",Released,Life is waiting.,The Terminal,"[{'id': 242, 'name': 'new york'}, {'id': 822, ...","[{'cast_id': 4, 'character': 'Viktor Navorski'...","[{'credit_id': '52fe4259c3a36847f8017699', 'de...",219417255

In [ ]:
(df['original_language']=='en') & (df['runtime'] > 120)

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [ ]:
long_english_movies = df[ (df['original_language']=='en') & (df['runtime'] > 120) ]
long_english_movies.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
12,13,NaN,15000000,"[{'id': 18, 'name': 'Drama'}]",http://www.dreamworks.com/ab/,tt0169547,en,American Beauty,"Lester Burnham, a depressed suburban father in...",20.726578,...,9/15/99,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Look closer.,American Beauty,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 6, 'character': 'Lester Burnham',...","[{'credit_id': '52fe420ec3a36847f80007c5', 'de...",356296601
14,15,NaN,102000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0181689,en,Minority Report,John Anderton is a top 'Precrime' cop in the l...,20.666063,...,6/20/02,145.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The system is perfect until it comes after you.,Minority Report,"[{'id': 476, 'name': 'self-fulfilling prophecy...","[{'cast_id': 5, 'character': 'Chief John Ander...","[{'credit_id': '52fe4223c3a36847f8006f3d', 'de...",358372926
20,21,NaN,80000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,tt0120738,en,Lost in Space,The prospects for continuing life on Earth in ...,12.000579,...,4/3/98,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Danger, Will Robinson!",Lost in Space,"[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 26, 'character': 'Dr. Zachary Smi...","[{'credit_id': '52fe433bc3a36847f80448b9', 'de...",136159423
33,34,"[{'id': 207632, 'name': 'The ABCs of Death Col...",0,"[{'id': 27, 'name': 'Horror'}]",NaN,tt2926810,en,ABCs of Death 2,Taking all that was great from the first insta...,8.254856,...,10/2/14,125.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Some people never learn,ABCs of Death 2,"[{'id': 9706, 'name': 'anthology'}, {'id': 187...","[{'cast_id': 60, 'character': 'Assassin (Segme...","[{'credit_id': '52fe4cd69251416c91101d73', 'de...",7171
37,38,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0114069,en,Outbreak,A deadly airborne virus finds its way into the...,13.676444,...,3/10/95,127.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This animal carries a deadly virus... and the ...,Outbreak,"[{'id': 1261, 'name': 'river'}, {'id': 1402, '...","[{'cast_id': 1, 'character': 'Sam Daniels', 'c...","[{'credit_id': '52fe446ac3a36847f80949d3', 'de...",189859560

In [ ]:
long_english_movies.shape

(506, 23)

# <u>**Next let us see how we can manipulate columns**</u>

In [ ]:
df.shape

(3000, 23)

In [ ]:
data.shape

(30, 5)

## **Let's say if you wanted a new column whose values were half the movie runtime**

In [ ]:
data['Column6'] = data['Column2']/2

In [ ]:
data.head()

   Column1  Column2  Column3  Column4  Column5  Column6
0        7       14        7        7       16      7.0
1       18        7       13       10       21      3.5
2       20       16       28       23       28      8.0
3       15       19        7       22       20      9.5
4        5       21       12       10        8     10.5

In [ ]:
df['runtime']

0        93.0
1       113.0
2       105.0
3       122.0
4       118.0
        ...
2995    102.0
2996    102.0
2997    120.0
2998     90.0
2999    106.0
Name: runtime, Length: 3000, dtype: float64

In [ ]:
# Add new column which is just half the runtime
df['half_runtime'] = df['runtime'] * 0.5

In [ ]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,half_runtime
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,46.5
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,56.5
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,52.5
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,61.0
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,59.0

## We can also create a new column by adding two existing columns

In [ ]:
# Creating another new column by subtracting/adding two existing columns
df['movie_profit'] = df['revenue'] - df['budget']

In [ ]:
df.head()

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,movie_profit,half_runtime
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,46.5
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,56.5
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,52.5
3,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,61.0
4,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,3923970,59.0

## **Next, we can also drop some columns which we want to drop**

In [ ]:
data.head()

   Column1  Column2  Column3  Column4  Column5
0        7       14        7        7       16
1       18        7       13       10       21
2       20       16       28       23       28
3       15       19        7       22       20
4        5       21       12       10        8

In [ ]:
data.drop(['Column4'], axis =1)

    Column1  Column2  Column3  Column5
0         7       14        7       16
1        18        7       13       21
2        20       16       28       28
3        15       19        7       20
4         5       21       12        8
5        19       13       19       15
6        25       23        6        6
7        14       16       22       10
8        20       14       10       18
9        18       13        5        7
10       15        9        6       16
11       14       27        5       13
12        8       25       11       11
13        8       18       25       28
14       20        6        6        8
15       15       29       29       11
16        5        7       21       13
17       19       25       28       14
18       14       15       25       21
19       24       10       26       23
20        7        7       19        9
21        8       12       29       11
22        5       12       22       28
23       10       22       17       10
24       12       25       12        7
25       10       24       12        9
26       10        8       17       29
27       21       11       19        7
28       23        7       21       12
29       25       27       10       28

In [ ]:
data.head()

   Column1  Column2  Column3  Column4  Column5
0        7       14        7        7       16
1       18        7       13       10       21
2       20       16       28       23       28
3       15       19        7       22       20
4        5       21       12       10        8

In [ ]:
# axis = 1 - Column
data.drop(['Column4'], axis = 1, inplace = True)

In [ ]:
# axis - 0 row
data.drop([0,1,2], axis = 0, inplace = True)

In [ ]:
data.head()

   Column1  Column2  Column3  Column5
3       15       19        7       20
4        5       21       12        8
5       19       13       19       15
6       25       23        6        6
7       14       16       22       10

In [ ]:
# inplace = true will make the permanent change
data.drop(columns = ['Column6'], inplace = True)

In [ ]:
data.drop(['Column6'], axis =1)

In [ ]:
data.head()

   Column1  Column2  Column3  Column4  Column5
0        7       14        7        7       16
1       18        7       13       10       21
2       20       16       28       23       28
3       15       19        7       22       20
4        5       21       12       10        8

In [ ]:
# Remove column
df.drop(['id'], axis = 1, inplace=True)

KeyError: ignored

## You can drop  multiple columns at once too.

In [ ]:
df.drop(['half_runtime','poster_path'], axis=1,inplace=True)

In [ ]:
df.drop(['crew'], axis = 1, inplace=True)

In [ ]:
df.head()

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,production_companies,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,revenue,movie_profit
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...",12314651,-1685349
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]",...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...",95149435,55149435
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...",...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...",13092000,9792000
3,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,NaN,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...",16000000,14800000
4,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,NaN,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...",3923970,3923970

## **We can do a lot of basic operations as well**

In [ ]:
data.columns

Index(['Column1', 'Column2', 'Column3', 'Column5'], dtype='object')

In [ ]:
data['Column6'] = 10

In [ ]:
# data[['Column1', 'Column2', 'Column5', 'Column3', 'Column6']]

In [ ]:
data.sum() # Vertical Sum - Column

Column1    389
Column2    445
Column3    441
Column5    392
Column6    270
dtype: int64

In [ ]:
data.sum(axis = 1) # horizontal sum - row

3      71
4      56
5      76
6      70
7      72
8      72
9      53
10     56
11     69
12     65
13     89
14     50
15     94
16     56
17     96
18     85
19     93
20     52
21     70
22     77
23     69
24     66
25     65
26     74
27     68
28     73
29    100
dtype: int64

In [ ]:
data.min()

Column1     5
Column2     6
Column3     5
Column5     6
Column6    10
dtype: int64

In [ ]:
data.max()

Column1    25
Column2    29
Column3    29
Column5    29
Column6    10
dtype: int64

In [ ]:
data.mean()

Column1    14.407407
Column2    16.481481
Column3    16.333333
Column5    14.518519
Column6    10.000000
dtype: float64

In [ ]:
data.std()

Column1    6.386640
Column2    7.355638
Column3    7.990379
Column5    7.313688
Column6    0.000000
dtype: float64

In [ ]:
# Find the sum of values in a column
df['budget'].sum()

67594002330

In [ ]:
data.set_index('Column3').reset_index()

    Column3  Column1  Column2  Column5  Column6
0         7       15       19       20       10
1        12        5       21        8       10
2        19       19       13       15       10
3         6       25       23        6       10
4        22       14       16       10       10
5        10       20       14       18       10
6         5       18       13        7       10
7         6       15        9       16       10
8         5       14       27       13       10
9        11        8       25       11       10
10       25        8       18       28       10
11        6       20        6        8       10
12       29       15       29       11       10
13       21        5        7       13       10
14       28       19       25       14       10
15       25       14       15       21       10
16       26       24       10       23       10
17       19        7        7        9       10
18       29        8       12       11       10
19       22        5       12       28       10
20       17       10       22       10       10
21       12       12       25        7       10
22       12       10       24        9       10
23       17       10        8       29       10
24       19       21       11        7       10
25       21       23        7       12       10
26       10       25       27       28       10

In [ ]:
df.set_index('imdb_id', inplace=True)

In [ ]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt2637294,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
tt0368933,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
tt2582802,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
tt1821480,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
tt1380152,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
df['runtime'].sum()

323354.0

In [ ]:
print(f" The shortest movie length is {df['runtime'].min()}")
print(f" The largest movie length is {df['runtime'].max()}")

 The shortest movie length is 0.0
 The largest movie length is 338.0

In [ ]:
# Get the movie detail which have the shortest runtime
df[df['runtime'] == df['runtime'].min()]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt2550838,391,NaN,6843500,"[{'id': 35, 'name': 'Comedy'}]",NaN,it,Il peggior Natale della mia vita,NaN,3.800073,/jflOmKG2sBVzxS36YtDQZQAGUBr.jpg,...,12/22/12,0.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,The Worst Christmas of My Life,NaN,"[{'cast_id': 2, 'character': 'Alberto', 'credi...","[{'credit_id': '52fe4bb79251416c7510bc79', 'de...",10703234
tt0768690,592,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,ru,А поутру они проснулись,NaN,0.402368,/xiRrq1elN5O0WaDX19nFc9MxeDl.jpg,...,12/4/03,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,А поутру они проснулись,"[{'id': 4897, 'name': 'multiple character'}, {...","[{'cast_id': 8, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4d449251416c911103f5', 'de...",234748
tt2604346,925,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,es,¿Quién mató a Bambi?,It tells the story of two young friends who mu...,1.926826,/i3SGpTQPLJvO7LR0i1ONAqKV3VM.jpg,...,11/15/13,0.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,¿Quién mató a Bambi?,"[{'id': 1930, 'name': 'kidnapping'}, {'id': 97...","[{'cast_id': 3, 'character': 'David', 'credit_...","[{'credit_id': '52fe4e31c3a368484e21370b', 'de...",850259
tt2076251,978,NaN,11000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,it,La peggior settimana della mia vita,NaN,5.010563,/1DWGUBXRhXrKgLsV6zppldD9bRn.jpg,...,10/27/11,0.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,La peggior settimana della mia vita,NaN,"[{'cast_id': 4, 'character': 'Paolo', 'credit_...","[{'credit_id': '52fe4984c3a368484e12f923', 'de...",12935800
tt0072785,1256,NaN,0,"[{'id': 37, 'name': 'Western'}]",NaN,it,Cipolla Colt,Onion Jack (Franco Nero) has bought a piece of...,1.623440,/6X4gkSpOYW7fBXWtK53i7nfK7ed.jpg,...,8/25/75,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, Onion!","[{'id': 156212, 'name': 'spaghetti western'}]","[{'cast_id': 14, 'character': 'Onion Stark', '...","[{'credit_id': '52fe493a9251416c750c169b', 'de...",39598448
tt3805180,1542,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,ru,Все и сразу,NaN,0.201582,/hNsmPpl3zLG36jr4EIEd5P8I4pa.jpg,...,6/5/14,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,All at Once,"[{'id': 642, 'name': 'robbery'}, {'id': 231149...","[{'cast_id': 3, 'character': 'Viktor', 'credit...","[{'credit_id': '53b7a7b90e0a2676b8006ab6', 'de...",3
tt1133617,1875,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.vt4.be/vermist,en,Vermist,Five members of the Missing Persons Task Force...,0.229233,/kWbiNRAPLu5q065r0thIFdmQOBv.jpg,...,1/1/07,0.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,NaN,Missing,NaN,"[{'cast_id': 2, 'character': 'Murat Hoxha', 'c...","[{'credit_id': '52fe4838c3a36847f815cef1', 'de...",1
tt0477337,2151,NaN,5000000,"[{'id': 28, 'name': 'Action'}, {'id': 10749, '...",NaN,ru,Mechenosets,NaN,0.414793,/be78nAT5VLN2ETLeqAhBkjVScn5.jpg,...,10/12/06,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Mechenosets,NaN,"[{'cast_id': 2, 'character': 'Sasha', 'credit_...","[{'credit_id': '52fe46bec3a368484e0a14f7', 'de...",3919731
tt1620549,2499,"[{'id': 106790, 'name': 'Hooked Collection', '...",3500000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,ru,Na Igre 2. Novyy Uroven,The continuation of the adventures of the hero...,0.884241,/vtiqEEw0GH5OiKytLvF81lnMN3w.jpg,...,4/15/10,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Hooked on the Game 2. The Next Level,NaN,"[{'cast_id': 10, 'character': 'Vampire', 'cred...","[{'credit_id': '52fe46759251416c91055281', 'de...",2294357
tt3956312,2646,NaN,0,"[{'id': 10749, 'name': 'Romance'}]",NaN,en,同桌的妳,"In the summer of 1993, timid and shy Zhou Xiao...",0.504000,/7fC54GSyr8KyZ5FimoOqP82JpMn.jpg,...,4/25/14,0.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,My Old Classmate,NaN,"[{'cast_id': 0, 'character': 'Zhou Xiao Zhi', ...","[{'credit_id': '54064dd90e0a2658d800d8d9', 'de...",76000000
tt0278675,2786,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,fr,Revelation,"Since A.D. 50, a mysterious sacred artifact kn...",0.625099,/u1yXWb3DdcAADMtVpvjTjonHGmC.jpg,...,4/12/01,0.0,NaN,Released,NaN,Revelation,NaN,"[{'cast_id': 1, 'character': 'Jake Martel', 'c...","[{'credit_id': '52fe4981c3a36847f819d97d', 'de...",10000000
tt2456720,2866,"[{'id': 188197, 'name': 'Cetto La Qualunque - ...",5579750,"[{'id': 35, 'name': 'Comedy'}]",NaN,it,Tutto tutto niente niente,NaN,2.208906,/o5kFD5Xw5kTEiDrdnJJXOXy2jaI.jpg,...,11/30/12,0.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Tutto tutto niente niente,"[{'id': 8201, 'name': 'satire'}, {'id': 33501,...","[{'cast_id': 1, 'character': 'Cetto La Qualunq...","[{'credit_id': '52fe4c48c3a36847f82269b9', 'de...",8927600

In [ ]:
# Get the movie detail which have the longest runtime
df[df['runtime'] == df['runtime'].max()]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt1321865,1212,NaN,18000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,en,Carlos,"The story of Venezuelan revolutionary, Ilich R...",4.558075,/obHJeOHn8J5XD049nj7KVSpAMEW.jpg,...,5/19/10,338.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The man who hijacked the world,Carlos,"[{'id': 1419, 'name': 'gun'}, {'id': 7336, 'na...","[{'cast_id': 4, 'character': ""Ilich Ram√≠rez S...","[{'credit_id': '57352b61c3a3680253000870', 'de...",871279

# **<code>apply()</code>** method applies a function to every row in a pandas dataframe

In [ ]:
def square(x):
    x = x+0.01
    return x**2

In [ ]:
data['Column1'].apply(square).head()

3    225.3001
4     25.1001
5    361.3801
6    625.5001
7    196.2801
Name: Column1, dtype: float64

In [ ]:
data['Product'] = 'parle-g'
data.head()

   Column1  Column2  Column3  Column5  Column6  Product
3       15       19        7       20       10  parle-g
4        5       21       12        8       10  parle-g
5       19       13       19       15       10  parle-g
6       25       23        6        6       10  parle-g
7       14       16       22       10       10  parle-g

In [ ]:
data.dtypes

Column1     int64
Column2     int64
Column3     int64
Column5     int64
Column6     int64
Product    object
dtype: object

In [ ]:
data['Product'].str.lower().head()

3    parle-g
4    parle-g
5    parle-g
6    parle-g
7    parle-g
Name: Product, dtype: object

In [ ]:
def uppercase(ip):
    return ip.upper()

In [ ]:
uppercase('rochit')

'ROCHIT'

In [ ]:
data['Product'].apply(uppercase).head()

3    PARLE-G
4    PARLE-G
5    PARLE-G
6    PARLE-G
7    PARLE-G
Name: Product, dtype: object

In [ ]:
data2 = data.drop(columns = ['Product'])
data2.head()

   Column1  Column2  Column3  Column5  Column6
3       15       19        7       20       10
4        5       21       12        8       10
5       19       13       19       15       10
6       25       23        6        6       10
7       14       16       22       10       10

In [ ]:
data2.apply(square).head()

    Column1   Column2   Column3   Column5   Column6
3  225.3001  361.3801   49.1401  400.4001  100.2001
4   25.1001  441.4201  144.2401   64.1601  100.2001
5  361.3801  169.2601  361.3801  225.3001  100.2001
6  625.5001  529.4601   36.1201   36.1201  100.2001
7  196.2801  256.3201  484.4401  100.2001  100.2001

In [ ]:
# Suppose we want to convert the column network to uppercase
def to_uppercase(column):
  return column.upper()

In [ ]:
df['Capitalized_title'] = df['title'].apply(to_uppercase)

## Another way to use <code>apply()</code> involves the use of <code>lambda()</code> function.

* ### A <code>lambda()</code> function is a small anonymous function.
* ### A <code>lambda()</code> function can take any number of arguments, but can only have one expression.

In [ ]:
def add_two_numbers(a,b):
  return a+b

In [ ]:
lambda a,b: a+b

In [ ]:
def get_square(x,y,z):
    return x**2 + y**2 + z**2

In [ ]:
lf = lambda x,y,z: x**2 + y**2 + z**2

In [ ]:
lf(1,2,3)

14

In [ ]:
us = lambda x: x.upper()

In [ ]:
us('garima')

'GARIMA'

In [ ]:
def square(x):
    x = x + 0.01
    return x**2

data[['Column1', 'Column2']].apply(square).head(2)

    Column1   Column2
3  225.3001  361.3801
4   25.1001  441.4201

In [ ]:
# lambda expression
lambda x: (x + 0.01)**2

data[['Column1', 'Column2']].apply(lambda x: (x + 0.01)**2).head(3)

    Column1   Column2
3  225.3001  361.3801
4   25.1001  441.4201
5  361.3801  169.2601

In [ ]:
data['Product'].map(lambda x: x.upper()).head()

3    PARLE-G
4    PARLE-G
5    PARLE-G
6    PARLE-G
7    PARLE-G
Name: Product, dtype: object

In [ ]:
# Map - Series
# apply - DataFrame, Series
# applymap - DataFrame, Series

In [ ]:
# Function - Row wise operation
def revised_profit(r, b):
  if r > 0:
    new_profit = r - b
  else:
    new_profit = np.nan
    
  return new_profit

In [ ]:
df['new_profit'] = df.apply(lambda x: revised_profit(x['revenue'], x['budget']),
                            axis = 1)

In [ ]:
data[['Column1', 'Column2']].head().apply(lambda x: print(x['Column1']), axis =1)

15
5
19
25
14

3    None
4    None
5    None
6    None
7    None
dtype: object

In [ ]:
# data[['Column1', 'Column2']].apply(lambda x: print(x), axis =1)

In [ ]:
df.head()

           id  ... new_profit
imdb_id        ...
tt2637294   1  ...   -1685349
tt0368933   2  ...   55149435
tt2582802   3  ...    9792000
tt1821480   4  ...   14800000
tt1380152   5  ...    3923970

[5 rows x 23 columns]

## We can also sort our dataframe by some column values in either an ascending or descending order

In [ ]:
data.head()

   Column1  Column2  Column3  Column5  Column6  Product
3       15       19        7       20       10  parle-g
4        5       21       12        8       10  parle-g
5       19       13       19       15       10  parle-g
6       25       23        6        6       10  parle-g
7       14       16       22       10       10  parle-g

In [ ]:
data.sort_values(['Column1']).head(6)

    Column1  Column2  Column3  Column5  Column6  Product
16        5        7       21       13       10  parle-g
4         5       21       12        8       10  parle-g
22        5       12       22       28       10  parle-g
20        7        7       19        9       10  parle-g
12        8       25       11       11       10  parle-g
13        8       18       25       28       10  parle-g

In [ ]:
data.sort_values(['Column1', 'Column2']).head(6)

    Column1  Column2  Column3  Column5  Column6  Product
16        5        7       21       13       10  parle-g
22        5       12       22       28       10  parle-g
4         5       21       12        8       10  parle-g
20        7        7       19        9       10  parle-g
21        8       12       29       11       10  parle-g
13        8       18       25       28       10  parle-g

In [ ]:
data.sort_values(['Column1'], ascending = False).head(6) # Descending

    Column1  Column2  Column3  Column5  Column6  Product
29       25       27       10       28       10  parle-g
6        25       23        6        6       10  parle-g
19       24       10       26       23       10  parle-g
28       23        7       21       12       10  parle-g
27       21       11       19        7       10  parle-g
14       20        6        6        8       10  parle-g

In [ ]:
data.sort_values(['Column1', 'Column2'], ascending = [True, False]).head(6)

    Column1  Column2  Column3  Column5  Column6  Product
4         5       21       12        8       10  parle-g
22        5       12       22       28       10  parle-g
16        5        7       21       13       10  parle-g
20        7        7       19        9       10  parle-g
12        8       25       11       11       10  parle-g
13        8       18       25       28       10  parle-g

In [ ]:
data.sort_values(['Column1', 'Column2'], ascending = [True, True]).head(6)

    Column1  Column2  Column3  Column5  Column6  Product
16        5        7       21       13       10  parle-g
22        5       12       22       28       10  parle-g
4         5       21       12        8       10  parle-g
20        7        7       19        9       10  parle-g
21        8       12       29       11       10  parle-g
13        8       18       25       28       10  parle-g

In [ ]:
# Sort values in descending order
df.sort_values('runtime', ascending=False)

             id  ... new_profit
imdb_id          ...
tt1321865  1212  ...  -17128721
tt0056937  1923  ...   39885000
tt0049833   524  ...  109700000
tt0080855  1303  ...  -40515669
tt0279111  1915  ...  -43076064
...         ...  ...        ...
tt0278675  2786  ...   10000000
tt2456720  2866  ...    3347850
tt1620549  2499  ...   -1205643
tt1107828  1336  ...   -5969000
tt0116485  2303  ...      65335

[3000 rows x 23 columns]

In [ ]:
# We can also sort by the combination of two columns
df.sort_values(['status','new_profit'], ascending=[False, True]).head()

             id  ... new_profit
imdb_id          ...
tt0145394  1619  ...    -662000
tt1860180  1008  ...         60
tt0120254   610  ...     273644
tt0091024  1217  ...   13418091
tt2239822  2624  ... -107447384

[5 rows x 23 columns]

In [ ]:
# "12-01-2023 20:39:55.555"

#  dd-mm-yyyy hh:mm:ss.sss"

'12-01-2023 20:39:55.555'

In [ ]:
# Day
# Month
# Year
# Week Number
# Quarter
# Day of the Week
# Leap Year or not

# <b>Let us explore some datetime operations and functions

Directive

* #### <b>%a</b>	Weekday as locale’s abbreviated name.	Sun, Mon, …, Sat (en_US)
So, Mo, …, Sa (de_DE)
* #### <b>%A</b>	Weekday as locale’s full name.	Sunday, Monday, …, Saturday (en_US)
Sonntag, Montag, …, Samstag (de_DE)
* #### <b>%w</b>	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.	0, 1, 2, 3, 4, 5, 6
* #### <b>%d</b>	Day of the month as a zero-padded decimal number.	01, 02, …, 31
* #### <b>%b</b>	Month as locale’s abbreviated name.	Jan, Feb, …, Dec (en_US)
Jan, Feb, …, Dez (de_DE)
* #### <b>%B</b>	Month as locale’s full name.	January, February, …, December (en_US)
Januar, Februar, …, Dezember (de_DE)
* #### <b>%m</b>	Month as a zero-padded decimal number.	01, 02 … 12
* #### <b>%y</b>	Year without century as a zero-padded decimal number.	01, 02, … 99
* #### <b>%Y</b>	Year with century as a decimal number.	0001, 0002, … , 9999
* #### <b>%H</b>	Hour (24-hour clock) as a zero-padded decimal number.	01, 02, … , 23
* #### <b>%I</b>	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, … , 12
* #### <b>%p</b>	Locale’s equivalent of either AM or PM.	AM, PM (en_US)
am, pm (de_DE)
* #### <b>%M</b>	Minute as a zero-padded decimal number.	01, 02, … , 59
* #### <b>%S</b>	Second as a zero-padded decimal number.	01, 02, … , 59
* #### <b>%f</b>	Microsecond as a decimal number, zero-padded on the left.	000000, 000001, …, 999999

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, tt2637294 to tt1600195
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   original_language      3000 non-null   object
 6   original_title         3000 non-null   object
 7   overview               2992 non-null   object
 8   popularity             3000 non-null   float64
 9   poster_path            2999 non-null   object
 10  production_companies   2844 non-null   object
 11  production_countries   2945 non-null   object
 12  release_date           3000 non-null   object
 13  runtime                2998 non-null   float64
 14  spoken_languages       2980 non-null   object
 15  status                 3000 non-null   object
 16  tagline                2403 non-null   object
 17  title                  3000 non-null   object
 18  Keywords               2724 non-null   object
 19  cast                   2987 non-null   object
 20  crew                   2984 non-null   object
 21  revenue                3000 non-null   int64
 22  Capitalized_title      3000 non-null   object
 23  new_profit             3000 non-null   int64
dtypes: float64(2), int64(4), object(18)
memory usage: 585.9+ KB

In [ ]:
df['release_date'] # mm/dd/yy

imdb_id
tt2637294     2/20/15
tt0368933      8/6/04
tt2582802    10/10/14
tt1821480      3/9/12
tt1380152      2/5/09
               ...
tt0109403     4/22/94
tt2364975     3/28/13
tt0116908    10/11/96
tt0343135     1/16/04
tt1600195     9/22/11
Name: release_date, Length: 3000, dtype: object

In [ ]:
# Importing datetime modules
from datetime import datetime
from datetime import date

## <code>strptime</code> means string parser, this will convert a string format to datetime. 

## <code>strftime</code> means string formatter, this will format a datetime object to string format.

In [ ]:
dts = datetime.strptime('2/20/15', '%m/%d/%y')
dts

datetime.datetime(2015, 2, 20, 0, 0)

In [ ]:
dts = datetime.strptime('2/20/15', '%d/%m/%y')
dts

ValueError: ignored

In [ ]:
# datetime -> string format
datetime.strftime(dts, '%d-%m-%y')

'20-02-15'

In [ ]:
datetime.strftime(dts, '%d:%m:%Y')

'20:02:2015'

In [ ]:
dts, type(dts)

(datetime.datetime(2015, 2, 20, 0, 0), datetime.datetime)

In [ ]:
dts.hour

0

In [ ]:
dts.isoweekday()

5

In [ ]:
dts.weekday()

4

In [ ]:
dts.month

2

In [ ]:
df['new_release_date'] = df['release_date'].apply(lambda x : datetime.strptime(x, '%m/%d/%y'))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, tt2637294 to tt1600195
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   original_language      3000 non-null   object
 6   original_title         3000 non-null   object
 7   overview               2992 non-null   object
 8   popularity             3000 non-null   float64
 9   poster_path            2999 non-null   object
 10  production_companies   2844 non-null   object
 11  production_countries   2945 non-null   object
 12  release_date           3000 non-null   object
 13  runtime                2998 non-null   float64
 14  spoken_languages       2980 non-null   object
 15  status                 3000 non-null   object
 16  tagline                2403 non-null   object
 17  title                  3000 non-null   object
 18  Keywords               2724 non-null   object
 19  cast                   2987 non-null   object
 20  crew                   2984 non-null   object
 21  revenue                3000 non-null   int64
 22  Capitalized_title      3000 non-null   object
 23  new_profit             3000 non-null   int64
 24  new_release_date       3000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(18)
memory usage: 673.9+ KB

In [ ]:
df[['release_date', 'new_release_date']].head()

          release_date new_release_date
imdb_id
tt2637294      2/20/15       2015-02-20
tt0368933       8/6/04       2004-08-06
tt2582802     10/10/14       2014-10-10
tt1821480       3/9/12       2012-03-09
tt1380152       2/5/09       2009-02-05

In [ ]:
df['release_date_dt'] = pd.to_datetime(df['release_date'])

In [ ]:
# Month year date
print(df['new_release_date'][0].month)
print(df['new_release_date'][0].year)
print(df['new_release_date'][0].day)
print(df['new_release_date'][0].hour)
print(df['new_release_date'][0].minute)

2
2015
20
0
0

In [ ]:
print(date.today())
print(datetime.now())

2023-03-13
2023-03-13 15:48:29.045546

In [ ]:
dts + 1

TypeError: ignored

In [ ]:
# Some operations we can do on datetime 
from datetime import timedelta

print(date.today())
print(date.today() - timedelta(days=180))
print(datetime.now() + timedelta(hours=5.5)) # IST
print(datetime.now() + timedelta(seconds=60))

2023-03-13
2022-09-14
2023-03-13 21:24:12.716600
2023-03-13 15:55:12.716723

In [ ]:
print(df['new_release_date'][0])
print(df['new_release_date'][5])

2015-02-20 00:00:00
1987-08-06 00:00:00

In [ ]:
# Difference in two datetime
time_delta=df['new_release_date'][0]-df['new_release_date'][5]
time_delta

Timedelta('10060 days 00:00:00')

In [ ]:
type(time_delta)

pandas._libs.tslibs.timedeltas.Timedelta

In [ ]:
time_delta.total_seconds()

869184000.0

In [ ]:
t1 = pd.to_datetime('1/1/2015 01:00')
t2 = pd.to_datetime('1/1/2015 03:30')

print(pd.Timedelta(t2 - t1).seconds / 3600.0)

2.5

# **Let's explore the unique and missing values**

* ### <code>unique()</code>
* ### <code>nunique()</code>
* ### <code>value_counts()</code>
* ### <code>isnull()</code>
* ### <code>fillna()</code>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, tt2637294 to tt1600195
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   original_language      3000 non-null   object
 6   original_title         3000 non-null   object
 7   overview               2992 non-null   object
 8   popularity             3000 non-null   float64
 9   poster_path            2999 non-null   object
 10  production_companies   2844 non-null   object
 11  production_countries   2945 non-null   object
 12  release_date           3000 non-null   object
 13  runtime                2998 non-null   float64
 14  spoken_languages       2980 non-null   object
 15  status                 3000 non-null   object
 16  tagline                2403 non-null   object
 17  title                  3000 non-null   object
 18  Keywords               2724 non-null   object
 19  cast                   2987 non-null   object
 20  crew                   2984 non-null   object
 21  revenue                3000 non-null   int64
 22  Capitalized_title      3000 non-null   object
 23  new_profit             3000 non-null   int64
 24  new_release_date       3000 non-null   datetime64[ns]
 25  release_date_dt        3000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(4), object(18)
memory usage: 697.4+ KB

In [ ]:
data['Column1'].unique()

array([15,  5, 19, 25, 14, 20, 18,  8, 24,  7, 10, 12, 21, 23])

In [ ]:
data2 = pd.DataFrame()

data2['Category'] = ['a', 'b', 'a', 'c', 'b', 'd', np.nan, 'a']
data2['Sale'] = [1,2,3,4,5,6,3, 2]

data2

  Category  Sale
0        a     1
1        b     2
2        a     3
3        c     4
4        b     5
5        d     6
6      NaN     3
7        a     2

In [ ]:
data2['Category'].unique()

array(['a', 'b', 'c', 'd', nan], dtype=object)

In [ ]:
data2['Category'].nunique()

4

In [ ]:
df['original_language'].unique()

array(['en', 'hi', 'ko', 'sr', 'fr', 'it', 'nl', 'zh', 'es', 'cs', 'ta',
       'cn', 'ru', 'tr', 'ja', 'fa', 'sv', 'de', 'te', 'pt', 'mr', 'da',
       'fi', 'el', 'ur', 'he', 'no', 'ar', 'nb', 'ro', 'vi', 'pl', 'hu',
       'ml', 'bn', 'id'], dtype=object)

In [ ]:
df['original_language'].nunique()

36

In [ ]:
data2.isnull()

   Category   Sale
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
5     False  False
6      True  False
7     False  False

In [ ]:
data2.isnull()

   Category   Sale
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
5     False  False
6      True  False
7     False  False

In [ ]:
data2.isnull().sum()

Category    1
Sale        0
dtype: int64

In [ ]:
True + True + True

3

In [ ]:
data2.dropna()

  Category  Sale
0        a     1
1        b     2
2        a     3
3        c     4
4        b     5
5        d     6
7        a     2

In [ ]:
data2.fillna('e')

  Category  Sale
0        a     1
1        b     2
2        a     3
3        c     4
4        b     5
5        d     6
6        e     3
7        a     2

In [ ]:
data2['Category'].value_counts()

a    3
b    2
c    1
d    1
Name: Category, dtype: int64

In [ ]:
df['original_language'].value_counts()

en    2575
fr      78
ru      47
es      43
hi      42
ja      37
it      24
cn      20
ko      20
zh      19
de      18
ta      16
sv       8
nl       6
pt       6
fa       5
da       5
ro       4
hu       3
tr       3
no       2
ml       2
pl       2
te       2
fi       2
ur       1
he       1
el       1
ar       1
nb       1
vi       1
mr       1
cs       1
sr       1
bn       1
id       1
Name: original_language, dtype: int64

In [ ]:
df['original_language'].unique()

array(['en', 'hi', 'ko', 'sr', 'fr', 'it', 'nl', 'zh', 'es', 'cs', 'ta',
       'cn', 'ru', 'tr', 'ja', 'fa', 'sv', 'de', 'te', 'pt', 'mr', 'da',
       'fi', 'el', 'ur', 'he', 'no', 'ar', 'nb', 'ro', 'vi', 'pl', 'hu',
       'ml', 'bn', 'id'], dtype=object)

In [ ]:
# Find the list of unique values in a column
list(df['status'].unique())

['Released', 'Rumored']

In [ ]:
list(df['original_language'].unique())

['en',
 'hi',
 'ko',
 'sr',
 'fr',
 'it',
 'nl',
 'zh',
 'es',
 'cs',
 'ta',
 'cn',
 'ru',
 'tr',
 'ja',
 'fa',
 'sv',
 'de',
 'te',
 'pt',
 'mr',
 'da',
 'fi',
 'el',
 'ur',
 'he',
 'no',
 'ar',
 'nb',
 'ro',
 'vi',
 'pl',
 'hu',
 'ml',
 'bn',
 'id']

In [ ]:
# Counts the number of unique values in a column
df.original_language.nunique()

36

In [ ]:
# Give the counts of each category of a variable
df['original_language'].value_counts()

en    2575
fr      78
ru      47
es      43
hi      42
ja      37
it      24
ko      20
cn      20
zh      19
de      18
ta      16
sv       8
pt       6
nl       6
da       5
fa       5
ro       4
tr       3
hu       3
pl       2
no       2
te       2
ml       2
fi       2
sr       1
mr       1
ur       1
el       1
vi       1
bn       1
nb       1
id       1
he       1
ar       1
cs       1
Name: original_language, dtype: int64

In [ ]:
# Does not make much sense to use value_counts for a numeric variable
df.runtime.value_counts()

90.0     100
100.0     99
105.0     91
95.0      89
98.0      85
        ...
11.0       1
62.0       1
66.0       1
248.0      1
177.0      1
Name: runtime, Length: 139, dtype: int64

In [ ]:
# Returns a series of booleans if a column value contains nulls
df['homepage'].isnull()

imdb_id
tt2637294     True
tt0368933     True
tt2582802    False
tt1821480    False
tt1380152     True
             ...
tt0109403     True
tt2364975     True
tt0116908     True
tt0343135    False
tt1600195    False
Name: homepage, Length: 3000, dtype: bool

In [ ]:
df[~df['homepage'].isnull()]

             id  ... new_release_date
imdb_id          ...
tt2582802     3  ...       2014-10-10
tt1821480     4  ...       2012-03-09
tt0431021     7  ...       2012-08-30
tt0169547    13  ...       1999-09-15
tt1129437    16  ...       2010-10-06
...         ...  ...              ...
tt0257076  2985  ...       2003-08-08
tt0349467  2986  ...       2006-02-17
tt0362227  2994  ...       2004-06-17
tt0343135  2999  ...       2004-01-16
tt1600195  3000  ...       2011-09-22

[946 rows x 24 columns]

In [ ]:
# Lets fill the missing values with the value -999
df['homepage'].fillna('Not Present',inplace = True)

In [ ]:
df.head()

           id  ... new_release_date
imdb_id        ...
tt2637294   1  ...       2015-02-20
tt0368933   2  ...       2004-08-06
tt2582802   3  ...       2014-10-10
tt1821480   4  ...       2012-03-09
tt1380152   5  ...       2009-02-05

[5 rows x 24 columns]